# This file defines code ownership and code review requirements

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for all files

- @rtpaulino
